.data-home-container {
    width: 100%;
    .header {
        background-color: #333333;
        color: #fff;
        padding: 20px;
        .header-left {
            width: 70%;
            display: inline-block;
            .title {
                font-size: 20px;
            }
        }
        .header-right {
            width: 28%;
            display: inline-block;
            text-align: right;
            position: relative;
            padding: 10px;
            &:hover {
                >.head-right-hover {
                    display: block;
                }
            }
            >.head-right-hover {
                position: absolute;
                border-radius: 4px;
                right: 10px;
                top: 36px;
                background-color: #6d6868;
                display: none;
                .head-right-btn {
                    padding: 5px 20px;
                    color: #fff;
                    cursor: pointer;
                    &:first-child {
                        border-bottom: 1px solid #fff;
                    }
                }
                &:before {
                    content: '';
                    border: 10px solid transparent;
                    border-bottom: 10px solid #6d6868;
                    position: absolute;
                    top: -19px;
                    right: 10px;
                }
            }
        }
    }
    .content {
        padding: 0 20px;
        .navigation {

        }
    }
}