.login-container {
    margin-top: 10%;
    width: 100%;
    .login-box {
        width: 60%;
        margin: 0 auto;
        border: 1px solid red;
        text-align: center;
        >h3 {
            margin: 30px 0;
            font-size: 26px;
            color: #3e72d6;
            .version {
                font-size: 14px;
            }
        }
        .copyright {
            margin: 40px 0 20px;
        }
    }
}